/* ## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%) */

:root {
  --color-primary-blue: hsl(238, 29%, 16%);
  --color-primary-red: hsl(14, 88%, 65%);
  --color-bg-violet: hsl(273, 75%, 66%);
  --color-bg-blue: hsl(240, 73%, 65%);
  --color-darkest-gray: hsl(237, 12%, 33%);
  --color-dark-gray: hsl(240, 6%, 50%);
  --color-light-gray: hsl(240, 5%, 91%);

  --font-primary: 'Kumbh Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px, 10/16 = 62.5%
  @include respond(mobil) {
    font-size: 48%;
  }
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-darkest-gray);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(var(--color-bg-violet), var(--color-bg-blue));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading-1 {
  font-size: 3rem;

  @include respond(mobil) {
    text-align: center;
    font-size: 4rem;
  }
}

//helper
.margin-bottom-3 {
  margin-bottom: 3rem;
  @include respond(mobil) {
    margin-bottom: 1.5rem;
  }
}

.margin-left-2 {
  margin-left: 2rem;
}

//front-end mentor code

.attribution {
  font-size: 11px;
  padding: 2rem;
  box-shadow: 0 20px 30px 0 rgba(52, 58, 64, 0.07);
  a {
    color: hsl(228, 45%, 44%);
  }
}
