/* ## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%) */
:root {
  --color-primary-blue: hsl(238, 29%, 16%);
  --color-primary-red: hsl(14, 88%, 65%);
  --color-bg-violet: hsl(273, 75%, 66%);
  --color-bg-blue: hsl(240, 73%, 65%);
  --color-darkest-gray: hsl(237, 12%, 33%);
  --color-dark-gray: hsl(240, 6%, 50%);
  --color-light-gray: hsl(240, 5%, 91%);
  --font-primary: "Kumbh Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 23.4375em) {
  html {
    font-size: 48%;
  }
}

body {
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--color-darkest-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--color-bg-violet), var(--color-bg-blue));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading-1 {
  font-size: 3rem;
}
@media only screen and (max-width: 23.4375em) {
  .heading-1 {
    text-align: center;
    font-size: 4rem;
  }
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 23.4375em) {
  .margin-bottom-3 {
    margin-bottom: 1.5rem;
  }
}

.margin-left-2 {
  margin-left: 2rem;
}

.attribution {
  font-size: 11px;
  padding: 2rem;
  box-shadow: 0 20px 30px 0 rgba(52, 58, 64, 0.07);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  margin-top: 20vh;
  width: 105rem;
  background-color: #fff;
  box-shadow: 20px 30px 50px 0 rgba(52, 58, 64, 0.46);
  border-radius: 2rem;
  padding-left: 0;
  display: flex;
  transform: scale(1);
}
@media only screen and (max-width: 23.4375em) {
  .card {
    margin-top: 20vh;
    width: 85vw;
    flex-direction: column;
    align-items: center;
  }
}
.card__images {
  overflow: hidden;
  position: relative;
  width: 50%;
}
@media only screen and (max-width: 23.4375em) {
  .card__images {
    width: 100%;
    overflow: visible;
    height: 12rem;
  }
}
.card__image-woman {
  position: absolute;
  top: 17rem;
  left: -9rem;
  width: 100%;
}
@media only screen and (max-width: 23.4375em) {
  .card__image-woman {
    width: 82%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
  }
}
.card__image-box {
  position: fixed;
  top: 7rem;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 999;
}
@media only screen and (max-width: 23.4375em) {
  .card__image-box {
    width: 32%;
    top: 0;
    left: 20%;
    transform: translate(-50%, -50%);
  }
}
.card__image-pattern {
  width: 192%;
  position: absolute;
  top: -30rem;
  left: -58rem;
}
@media only screen and (max-width: 23.4375em) {
  .card__image-pattern {
    width: 85%;
    top: -2rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.faq {
  padding: 7rem 11rem;
  padding-left: 2rem;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (max-width: 23.4375em) {
  .faq {
    width: 100%;
    padding: 6rem 2.5rem;
  }
}

.item {
  overflow: hidden;
  border-bottom: 1px solid var(--color-light-gray);
}
.item__checkbox {
  display: none;
  visibility: hidden;
}
.item__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  transition: all 0.35s;
  font-size: 1.8rem;
  font-weight: 400;
}
.item__label:hover {
  color: var(--color-primary-red);
  cursor: pointer;
}
.item__select {
  width: 1.5rem;
  height: 1rem;
}
.item__text {
  max-height: 0;
  padding: 0 2rem;
  color: var(--color-dark-gray);
  line-height: 1.5;
  transform: translateX(-1rem);
}

input:checked + .item__label {
  font-weight: 700;
  color: var(--color-primary-blue);
}
input:checked + .item__label .item__select {
  transform: rotate(180deg);
}
input:checked ~ .item__text {
  max-height: 100vh;
  padding: 0.5rem 1em;
  padding-bottom: 1.5rem;
}/*# sourceMappingURL=main.css.map */